<!doctype html>
<html>
  <head>
    <title>Manygolf</title>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/icon.png">
  </head>

  <body>
    <div id="react-container"></div>
  </body>
</html>