@import "./common.less";

body {
  background: #444;
  padding: 10px;
}

header img {
  width: 500px;
  max-width: 100%;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
}

.game-container {
  max-width: 1000px;
}

.instructions {
  max-width: 750px;
  margin: 0 auto;
}

// multi-column mode
@media only screen and (min-width: 750px) {
  .instructions {
    max-width: 800px;
  }
  .instructions .row {
    display: flex;

    .section {
      flex: 1;
      padding: 0px 15px;
    }
  }
}

